.heading {
    text-align: center;
    margin-bottom: 50px;
}

/* grid display with two columns for mobile version */
.section{
    display: grid;
    grid-template-columns: 20% 20%;
    text-align: center;
    justify-content: center;
}

/* styling the boxes for the emojis and content */
.emojis {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    display: grid;
    justify-content: center;
}

/* Increasing size of emojis */
.emoji {
    font-size: 2rem;
}

.code {
    background-color: grey;
}

/* ------ Adding Media Queries ----- */

/* grid display with four columns this time for desktop */

@media screen and (min-width: 600px) {
    #emoji {
        grid-template-columns: 10% 10% 10% 10%;
    }
}
